.container {
  width: 250px;
  height: 100dvh;
  color: #424242;
}

.logo {
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  margin-top: 20px;
}

.logo img {
  height: 70%;
  padding-left: 20px;
  object-fit: contain;
}

.item {
  list-style: none;
  margin-bottom: 20px;
}

.title {
  cursor: pointer;
}

.subItems {
  padding-left: 18px;
  margin-top: 10px;
  font-size: 0.9rem;
}

.subItem {
  list-style: none;
  margin-bottom: 5px;
}

.arrow {
  margin-right: 6px;
}

.subItemIcon {
  font-size: 0.7em;
  margin-right: 8px;
}

.nestedItems {
  padding-left: 25px;
  margin-top: 5px;
}

.nestedItem {
  list-style: none;
}

.nestedItemIcon {
  font-size: 0.7em;
  margin-right: 1px;
}
